//Font Variables
$font-stack:"proxima-nova-regular", Helvetica, Arial, sans-serif;
$font-stack-bold:"proxima-nova-bold", Helvetica, Arial, sans-serif;
$font-stack-italic:"proxima-nova-italic", Helvetica, Arial, sans-serif;

$font-size-r: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;

//Color Variables
$abbey:#515254;
$primary-blue:#428bca;
$white:#ffffff;
$off-white:#f5f5f5;
$light-grey:#e5e5e5;
$grey:#aaaaaa;

$header-background:#e5e5e5;
$section-background:#f5f5f5;
$header-text:#515254;
$footer-text:#eaeaea;
$body-text:#888888;

//Section Variables
$section-padding:60px 0px;

